<!doctype html>
<html lang="ca">

<head>
	<title>Missatge</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<style>
		div {
			display: inline-block;
			width: 20rem;
			border: 1px solid gray;
			border-radius: .5rem;
		}
		div h1 {
			margin: 0;
			color: white;
			background-color: #800;
			text-align: center;
			border-radius: .5rem .5rem 0 0;
		}
	</style>
</head>

<body>
	<section class="missatge">
		<div>
			<h1>MISSATGE</h1>
			<p>Hola <%- nom %></p>
		</div>
	</section>
</body>

</html>